* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
.container_square-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    top: 250px;
    left: 450px;
}
.container_square {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: square 4s infinite;
}
@keyframes square {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
       transform: translateX(100%);
       background-color: green;
    }
    50% {
       transform: translate(100%, -100%);
       background-color: yellow;
    }
    75% {
        transform: translate(0%, -100%);
        background-color: red;
    }
    100% {
        transform: translate(0%, -0%);
        background-color: blue;
    }
}